<section class="about">
  <div class="container">
    <div class="about_container">
      <h2 class="about_title">About Us</h2>
      <p class="about_description">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about_description">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <button type="button" class="about_btn">View catalog</button>
    </div>
    <picture>
      <source
        srcset="
          ./img/about/tablet/about.desktop.webp    1x,
          ./img/about/tablet/about.desktop@2x.webp 2x,
          ./img/about/tablet/about.desktop@3x.webp 3x
        "
        media="(min-width: 1200px)" />

      <source
        srcset="/src/img/about/desktop/about.desktop.png 1x"
        media="(min-width: 1200px)" />

      <source
        srcset="
          ./img/about/tablet/about.tablet.webp    1x,
          ./img/about/tablet/about.tablet@2x.webp 2x,
          ./img/about/tablet/about.tablet@3x.webp 3x
        "
        media="(min-width: 768px)" />

      <source
        srcset="
          ./img/about/tablet/about.tablet.png    1x,
          ./img/about/tablet/about.tablet@2x.png 2x,
          ./img/about/tablet/about.tablet@3x.png 3x
        "
        media="(min-width: 768px)" />

      <source
        srcset="
          ./img/about/mobile/about.mobile.webp    1x,
          ./img/about/mobile/about.mobile@2x.webp 2x,
          ./img/about/mobile/about.mobile@3x.webp 3x
        "
        media="(max-width: 767px)" />

      <source
        srcset="
          ./img/about/mobile/about.mobile.png    1x,
          ./img/about/mobile/about.mobile@2x.png 2x,
          ./img/about/mobile/about.mobile@3x.png 3x
        "
        media="(max-width: 767px)" />

      <img class="about_img" src="./img/about/mobile/about.mobile.png" alt=""
    /></picture>
  </div>
</section>
