<section class="catalog">
  <div class="container">
    <h2 class="catalog_title">Catalog</h2>
    <ul class="catalog_list">
      <li class="catalog_item">
        <img
          class="catalog_img"
          src="./img/telegram-cloud-document-2-5398046800353443438 1.jpg"
          alt=""
        />
        <p class="catalog_name">Garmin Fenix 7X Pro Sapphire Solar</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <img
          class="catalog_img"
          src="./img/telegram-cloud-document-2-5398046800353443438 1.jpg"
          alt=""
        />
        <p class="catalog_name">Garmin Marq Athlete</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <img
          class="catalog_img"
          src="./img/telegram-cloud-document-2-5398046800353443438 1.jpg"
          alt=""
        />
        <p class="catalog_name">Garmin Descent MK1</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <img
          class="catalog_img"
          src="./img/telegram-cloud-document-2-5398046800353443438 1.jpg"
          alt=""
        />
        <p class="catalog_name">Garmin D2 Delta PX</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <img
          class="catalog_img"
          src="./img/telegram-cloud-document-2-5398046800353443438 1.jpg"
          alt=""
        />
        <p class="catalog_name">Garmin Fenix 6 Pro Solar</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <img
          class="catalog_img"
          src="./img/telegram-cloud-document-2-5398046800353443438 1.jpg"
          alt=""
        />
        <p class="catalog_name">Tube Watch S42 Date Steel With Black Case</p>
        <span class="catalog_price">€500</span>
      </li>
    </ul>
  </div>
</section>
