<section class="catalog">
  <div class="container">
    <h2 class="catalog_title">Catalog</h2>
    <ul class="catalog_list">
      <li class="catalog_item">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/desktop.first-photo.catalog/desktop.first-photo.catalog.webp    1x,
              ./img/catalog/desktop/desktop.first-photo.catalog/desktop.first-photo.catalog@2x.webp 2x,
              ./img/catalog/desktop/desktop.first-photo.catalog/desktop.first-photo.catalog@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/desktop/desktop.first-photo.catalog/desktop.first-photo.catalog.png    1x,
              ./img/catalog/desktop/desktop.first-photo.catalog/desktop.first-photo.catalog@2x.png 2x,
              ./img/catalog/desktop/desktop.first-photo.catalog/desktop.first-photo.catalog@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/tablet/tablet.first-photo.catalog/tablet.first-photo.catalog.webp    1x,
              ./img/catalog/tablet/tablet.first-photo.catalog/tablet.first-photo.catalog@2x.webp 2x,
              ./img/catalog/tablet/tablet.first-photo.catalog/tablet.first-photo.catalog@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/tablet/tablet.first-photo.catalog/tablet.first-photo.catalog.png    1x,
              ./img/catalog/tablet/tablet.first-photo.catalog/tablet.first-photo.catalog@2x.png 2x,
              ./img/catalog/tablet/tablet.first-photo.catalog/tablet.first-photo.catalog@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/mobile/mobile.first-photo.catalog/mobile.first-photo.catalog.webp    1x,
              ./img/catalog/mobile/mobile.first-photo.catalog/mobile.first-photo.catalog@2x.webp 2x,
              ./img/catalog/mobile/mobile.first-photo.catalog/mobile.first-photo.catalog@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/mobile/mobile.first-photo.catalog/mobile.first-photo.catalog.png    1x,
              ./img/catalog/mobile/mobile.first-photo.catalog/mobile.first-photo.catalog@2x.png 2x,
              ./img/catalog/mobile/mobile.first-photo.catalog/mobile.first-photo.catalog@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            class="catalog_img"
            src="./img/catalog/mobile/mobile.first-photo.catalog/mobile.first-photo.catalog.png"
            alt=""
          />
        </picture>
        <p class="catalog_name">Garmin Fenix 7X Pro Sapphire Solar</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/desktop.second-photo.catalog/desktop.second-photo.catalog.webp    1x,
              ./img/catalog/desktop/desktop.second-photo.catalog/desktop.second-photo.catalog@2x.webp 2x,
              ./img/catalog/desktop/desktop.second-photo.catalog/desktop.second-photo.catalog@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/desktop/desktop.second-photo.catalog/desktop.second-photo.catalog.png    1x,
              ./img/catalog/desktop/desktop.second-photo.catalog/desktop.second-photo.catalog@2x.png 2x,
              ./img/catalog/desktop/desktop.second-photo.catalog/desktop.second-photo.catalog@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/tablet/tablet.second-photo.catalog/tablet.second-photo.catalog.webp    1x,
              ./img/catalog/tablet/tablet.second-photo.catalog/tablet.second-photo.catalog@2x.webp 2x,
              ./img/catalog/tablet/tablet.second-photo.catalog/tablet.second-photo.catalog@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/tablet/tablet.second-photo.catalog/tablet.second-photo.catalog.png    1x,
              ./img/catalog/tablet/tablet.second-photo.catalog/tablet.second-photo.catalog@2x.png 2x,
              ./img/catalog/tablet/tablet.second-photo.catalog/tablet.second-photo.catalog@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/mobile/mobile.second-photo.catalog/mobile.second-photo.catalog.webp    1x,
              ./img/catalog/mobile/mobile.second-photo.catalog/mobile.second-photo.catalog@2x.webp 2x,
              ./img/catalog/mobile/mobile.second-photo.catalog/mobile.second-photo.catalog@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <source
            srcset="
              ./img/catalog/mobile/mobile.second-photo.catalog/mobile.second-photo.catalog.png    1x,
              ./img/catalog/mobile/mobile.second-photo.catalog/mobile.second-photo.catalog@2x.png 2x,
              ./img/catalog/mobile/mobile.second-photo.catalog/mobile.second-photo.catalog@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            class="catalog_img"
            src="./img/catalog/mobile/mobile.second-photo.catalog/mobile.second-photo.catalog.png"
            alt=""
          />
        </picture>

        <p class="catalog_name">Garmin Marq Athlete</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/desktop.third-photo.catalog/desktop.third-photo.catalog.webp    1x,
              ./img/catalog/desktop/desktop.third-photo.catalog/desktop.third-photo.catalog@2x.webp 2x,
              ./img/catalog/desktop/desktop.third-photo.catalog/desktop.third-photo.catalog@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/desktop/desktop.third-photo.catalog/desktop.third-photo.catalog.png    1x,
              ./img/catalog/desktop/desktop.third-photo.catalog/desktop.third-photo.catalog@2x.png 2x,
              ./img/catalog/desktop/desktop.third-photo.catalog/desktop.third-photo.catalog@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.third-photo.catalog/tablet.third-photo.catalog.webp    1x,
              ./img/catalog/tablet/tablet.third-photo.catalog/tablet.third-photo.catalog@2x.webp 2x,
              ./img/catalog/tablet/tablet.third-photo.catalog/tablet.third-photo.catalog@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.third-photo.catalog/tablet.third-photo.catalog.png    1x,
              ./img/catalog/tablet/tablet.third-photo.catalog/tablet.third-photo.catalog@2x.png 2x,
              ./img/catalog/tablet/tablet.third-photo.catalog/tablet.third-photo.catalog@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png" />

          <source
            srcset="
              ./img/catalog/mobile/mobile.third-photo.catalog/mobile.third-photo.catalog.webp    1x,
              ./img/catalog/mobile/mobile.third-photo.catalog/mobile.third-photo.catalog@2x.webp 2x,
              ./img/catalog/mobile/mobile.third-photo.catalog/mobile.third-photo.catalog@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/mobile/mobile.third-photo.catalog/mobile.third-photo.catalog.png    1x,
              ./img/catalog/mobile/mobile.third-photo.catalog/mobile.third-photo.catalog@2x.png 2x,
              ./img/catalog/mobile/mobile.third-photo.catalog/mobile.third-photo.catalog@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png" />

          <img
            class="catalog_img"
            src="./img/catalog/mobile/mobile.third-photo.catalog/mobile.third-photo.catalog.png"
            alt=""
        /></picture>

        <p class="catalog_name">Garmin Descent MK1</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/desktop.fourth-photo.catalog/desktop.fourth-photo.catalog.webp    1x,
              ./img/catalog/desktop/desktop.fourth-photo.catalog/desktop.fourth-photo.catalog@2x.webp 2x,
              ./img/catalog/desktop/desktop.fourth-photo.catalog/desktop.fourth-photo.catalog@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/desktop/desktop.fourth-photo.catalog/desktop.fourth-photo.catalog.png    1x,
              ./img/catalog/desktop/desktop.fourth-photo.catalog/desktop.fourth-photo.catalog@2x.png 2x,
              ./img/catalog/desktop/desktop.fourth-photo.catalog/desktop.fourth-photo.catalog@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.fourth-photo.catalog/tablet.fourth-photo.catalog.webp    1x,
              ./img/catalog/tablet/tablet.fourth-photo.catalog/tablet.fourth-photo.catalog@2x.webp 2x,
              ./img/catalog/tablet/tablet.fourth-photo.catalog/tablet.fourth-photo.catalog@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.fourth-photo.catalog/tablet.fourth-photo.catalog.png    1x,
              ./img/catalog/tablet/tablet.fourth-photo.catalog/tablet.fourth-photo.catalog@2x.png 2x,
              ./img/catalog/tablet/tablet.fourth-photo.catalog/tablet.fourth-photo.catalog@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png" />

          <source
            srcset="
              ./img/catalog/mobile/mobile.fourth-photo.catalog/mobile.fourth-photo.catalog.webp    1x,
              ./img/catalog/mobile/mobile.fourth-photo.catalog/mobile.fourth-photo.catalog@2x.webp 2x,
              ./img/catalog/mobile/mobile.fourth-photo.catalog/mobile.fourth-photo.catalog@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/mobile/mobile.fourth-photo.catalog/mobile.fourth-photo.catalog.png    1x,
              ./img/catalog/mobile/mobile.fourth-photo.catalog/mobile.fourth-photo.catalog@2x.png 2x,
              ./img/catalog/mobile/mobile.fourth-photo.catalog/mobile.fourth-photo.catalog@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png" />

          <img
            class="catalog_img"
            src="./img/catalog/mobile/mobile.fourth-photo.catalog/tablet.fourth-photo.catalog.png"
            alt=""
        /></picture>

        <p class="catalog_name">Garmin D2 Delta PX</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/desktop.fifth-photo.catalog/desktop.fifth-photo.catalog.webp    1x,
              ./img/catalog/desktop/desktop.fifth-photo.catalog/desktop.fifth-photo.catalog@2x.webp 2x,
              ./img/catalog/desktop/desktop.fifth-photo.catalog/desktop.fifth-photo.catalog@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/desktop/desktop.fifth-photo.catalog/desktop.fifth-photo.catalog.png    1x,
              ./img/catalog/desktop/desktop.fifth-photo.catalog/desktop.fifth-photo.catalog@2x.png 2x,
              ./img/catalog/desktop/desktop.fifth-photo.catalog/desktop.fifth-photo.catalog@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.fifth-photo.catalog/tablet.fifth-photo.catalog.webp    1x,
              ./img/catalog/tablet/tablet.fifth-photo.catalog/tablet.fifth-photo.catalog@2x.webp 2x,
              ./img/catalog/tablet/tablet.fifth-photo.catalog/tablet.fifth-photo.catalog@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/png" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.fifth-photo.catalog/tablet.fifth-photo.catalog.png    1x,
              ./img/catalog/tablet/tablet.fifth-photo.catalog/tablet.fifth-photo.catalog@2x.png 2x,
              ./img/catalog/tablet/tablet.fifth-photo.catalog/tablet.fifth-photo.catalog@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png" />

          <img
            class="catalog_img"
            src="./img/catalog/tablet/tablet.fifth-photo.catalog/tablet.fifth-photo.catalog.png"
            alt=""
        /></picture>

        <p class="catalog_name">Garmin Fenix 6 Pro Solar</p>
        <span class="catalog_price">€500</span>
      </li>
      <li class="catalog_item">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/desktop.sixth-photo.catalog/desktop.sixth-photo.catalog.webp    1x,
              ./img/catalog/desktop/desktop.sixth-photo.catalog/desktop.sixth-photo.catalog@2x.webp 2x,
              ./img/catalog/desktop/desktop.sixth-photo.catalog/desktop.sixth-photo.catalog@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/desktop/desktop.sixth-photo.catalog/desktop.sixth-photo.catalog.png    1x,
              ./img/catalog/desktop/desktop.sixth-photo.catalog/desktop.sixth-photo.catalog@2x.png 2x,
              ./img/catalog/desktop/desktop.sixth-photo.catalog/desktop.sixth-photo.catalog@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.sixth-photo.catalog/tablet.sixth-photo.catalog.webp    1x,
              ./img/catalog/tablet/tablet.sixth-photo.catalog/tablet.sixth-photo.catalog@2x.webp 2x,
              ./img/catalog/tablet/tablet.sixth-photo.catalog/tablet.sixth-photo.catalog@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp" />

          <source
            srcset="
              ./img/catalog/tablet/tablet.sixth-photo.catalog/tablet.sixth-photo.catalog.png    1x,
              ./img/catalog/tablet/tablet.sixth-photo.catalog/tablet.sixth-photo.catalog@2x.png 2x,
              ./img/catalog/tablet/tablet.sixth-photo.catalog/tablet.sixth-photo.catalog@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png" />

          <img
            class="catalog_img"
            src="./img/catalog/tablet/tablet.sixth-photo.catalog/tablet.sixth-photo.catalog.png"
            alt=""
        /></picture>

        <p class="catalog_name">Tube Watch S42 Date Steel With Black Case</p>
        <span class="catalog_price">€500</span>
      </li>
    </ul>
  </div>
</section>
