<section class="contact_us">
  <div class="container">
    <h2 class="contact_us-title">Contact Us</h2>
    <div class="contact_us-box">
      <p class="contact_us-text">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>
      <form action="" class="contact_us-form">
        <input class="contact_us-input" type="text" placeholder="Name" />
        <input class="contact_us-input" type="text" placeholder="Email" />
        <input class="contact_us-input" type="text" placeholder="+380" />
        <textarea
          class="contact_us-comment"
          name=""
          id=""
          placeholder="Comment"
        ></textarea>
        <button class="contact_us-btn" type="button">Send</button>
      </form>
    </div>
  </div>
</section>
