<section class="contact_us">
  <div class="container">
    <h2 class="contact_us-title">Contact Us</h2>
    <div class="contact_us-wrapper">
      <div class="contact_us-box">
        <p class="contact_us-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form action="" class="contact_us-form">
          <input class="contact_us-input" type="text" placeholder="Name" />
          <input class="contact_us-input" type="text" placeholder="Email" />
          <input class="contact_us-input" type="text" placeholder="+380" />
          <textarea
            class="contact_us-comment"
            name=""
            id=""
            placeholder="Comment"
          ></textarea>
          <button class="contact_us-btn" type="button">Send</button>
        </form>
      </div>
      <picture>
        <source
          srcset="
            ./img/contact_us/desktop/desktop.main-contact.photo.webp    1x,
            ./img/contact_us/desktop/desktop.main-contact.photo@2x.webp 2x,
            ./img/contact_us/desktop/desktop.main-contact.photo@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp" />

        <source
          srcset="
            ./img/contact_us/desktop/desktop.main-contact.photo.png    1x,
            ./img/contact_us/desktop/desktop.main-contact.photo@2x.png 2x,
            ./img/contact_us/desktop/desktop.main-contact.photo@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png" />

        <source
          srcset="
            ./img/contact_us/tablet/tablet.main-contact.photo.webp    1x,
            ./img/contact_us/tablet/tablet.main-contact.photo@2x.webp 2x,
            ./img/contact_us/tablet/tablet.main-contact.photo@3x.webp 3x
          "
          media="(min-width: 768px)"
          type="image/webp" />

        <source
          srcset="
            ./img/contact_us/tablet/tablet.main-contact.photo.png    1x,
            ./img/contact_us/tablet/tablet.main-contact.photo@2x.png 2x,
            ./img/contact_us/tablet/tablet.main-contact.photo@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png" />

        <source
          srcset="
            ./img/contact_us/mobile/mobile.main-contact.photo.webp    1x,
            ./img/contact_us/mobile/mobile.main-contact.photo@2x.webp 2x,
            ./img/contact_us/mobile/mobile.main-contact.photo@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp" />

        <source
          srcset="
            ./img/contact_us/mobile/mobile.main-contact.photo.png    1x,
            ./img/contact_us/mobile/mobile.main-contact.photo@2x.png 2x,
            ./img/contact_us/mobile/mobile.main-contact.photo@3x.png 3x
          "
          media="(max-width: 767px)"
          type="image/png" />

        <img
          class="contact_us-img"
          src="./img/contact_us/mobile/mobile.main-contact.photo.png"
          alt=""
      /></picture>
    </div>
  </div>
</section>
