<header class="header">
  <div class="container">
    <a href="">watchcharm</a>
    <button class="menu_btn"><img src="img/Icon.svg" alt="" /></button>
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="" class="active nav_link">Home</a>
        </li>
        <li class="nav_item"><a href="" class="nav_link">About Us</a></li>
        <li class="nav_item"><a href="" class="nav_link">Catalog</a></li>
        <li class="nav_item"><a href="" class="nav_link">Sale</a></li>
        <li class="nav_item"><a href="" class="nav_link">Reviews</a></li>
        <li class="nav_item"><a href="" class="nav_link">Contact Us</a></li>
      </ul>
    </nav>
    <ul class="social_list">
      <li class="social_item">
        <a href="" class="social_link">
          <img src="img/facebook.svg" alt="" />
        </a>
      </li>
      <li class="social_item">
        <a href="" class="social_link">
          <img src="img/instagram.svg" alt="" />
        </a>
      </li>
      <li class="social_item">
        <a href="" class="social_link">
          <img src="img/youtube.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</header>
