<section class="hero">
  <div class="container">
    <div class="hero_box">
      <h1 class="hero_title">
        Welcome to our
        <span class="hero_title-accent">collection</span> of premium watches
      </h1>
      <p class="hero_description">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero_wrapper">
      <picture>
        <source
          srcset="
            ./img/hero/desktop.triple/desktop.hero-photo.webp    1x,
            ./img/hero/desktop.triple/desktop.hero-photo@2x.webp 2x,
            ./img/hero/desktop.triple/desktop.hero-photo@3x.webp 3x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />

        <source
          srcset="
            ./img/hero/desktop.triple/desktop.hero-photo.png    1x,
            ./img/hero/desktop.triple/desktop.hero-photo@2x.png 2x,
            ./img/hero/desktop.triple/desktop.hero-photo@3x.png 3x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./img/hero/tablet.triple/table.hero-photo.webp    1x,
            ./img/hero/tablet.triple/table.hero-photo@2x.webp 2x,
            ./img/hero/tablet.triple/table.hero-photo@3x.webp 3x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />

        <source
          srcset="
            ./img/hero/tablet.triple/table.hero-photo.png    1x,
            ./img/hero/tablet.triple/table.hero-photo@2x.png 2x,
            ./img/hero/tablet.triple/table.hero-photo@3x.png 3x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <source
          srcset="
            ./img/hero/mobile.triple/mobile.hero-photo.webp    1x,
            ./img/hero/mobile.triple/mobile.hero-photo@2x.webp 2x,
            ./img/hero/mobile.triple/mobile.hero-photo@3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />

        <source
          srcset="
            ./img/hero/mobile.triple/mobile.hero-photo.png    1x,
            ./img/hero/mobile.triple/mobile.hero-photo@2x.png 2x,
            ./img/hero/mobile.triple/mobile.hero-photo@3x.png 3x
          "
          media="(max-width: 767px)"
          type="image/png"
        />

        <img
          class="triple_img"
          src="./img/hero/mobile.triple/mobile.hero-photo.png"
          alt=""
        />
      </picture>

      <button type="button" class="hero_btn underline_btn">Scroll down</button>
    </div>
    <picture>
      <source
        srcset="
          ./img/hero/desktop/hero.desktop.webp    1x,
          ./img/hero/desktop/hero.desktop@2x.webp 2x,
          ./img/hero/desktop/hero.desktop@3x.webp 3x
        "
        media="(min-width: 1200px) "
        type="image/png"
      />

      <source
        srcset="
          ./img/hero/desktop/hero.desktop.png    1x,
          ./img/hero/desktop/hero.desktop@2x.png 2x,
          ./img/hero/desktop/hero.desktop@3x.png 3x
        "
        media="(min-width: 1200px) "
        type="image/png"
      />

      <source
        srcset="
          ./img/hero/tablet/hero.tablet.webp    1x,
          ./img/hero/tablet/hero.tablet@2x.webp 2x,
          ./img/hero/tablet/hero.tablet@3x.webp 3x
        "
        media="(min-width: 768px) "
        type="image/png"
      />

      <source
        srcset="
          ./img/hero/tablet/hero.tablet.png    1x,
          ./img/hero/tablet/hero.tablet@2x.png 2x,
          ./img/hero/tablet/hero.tablet@3x.png 3x
        "
        media="(min-width: 768px) "
        type="image/png"
      />

      <source
        srcset="
          ./img/hero/mobile/hero.mobile.webp    1x,
          ./img/hero/mobile/hero.mobile@2x.webp 2x,
          ./img/hero/mobile/hero.mobile@3x.webp 3x
        "
        media="(max-width: 767px)"
        type="image/webp"
      />

      <source
        srcset="
          ./img/hero/mobile/hero.mobile.png    1x,
          ./img/hero/mobile/hero.mobile@2x.png 2x,
          ./img/hero/mobile/hero.mobile@3x.png 3x
        "
        media="(max-width: 767px)"
        type="image/png"
      />
      <img
        src="./img/hero/mobile/hero.mobile.png"
        alt="dark watch"
        class="hero_img"
      />
    </picture>
  </div>
</section>
