<section class="hero">
  <div class="container">
    <div class="hero_box">
      <h1 class="hero_title">
        Welcome to our
        <span class="hero_title-accent">collection</span> of premium watches
      </h1>
      <p class="hero_description">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="hero_wrapper">
      <img src="./img/image.png" alt="dark watch" />
      <button type="button" class="hero_btn underline_btn">Scroll down</button>
    </div>
    <img src="./img/Rectangle 10.png" alt="dark watch" class="hero_img" />
  </div>
</section>
