<section class="reviews">
  <div class="container">
    <h2 class="reviews_title">Reviews</h2>
    <ul class="reviews_list">
      <li class="reviews_item">
        <picture>
          <source
            srcset="
              ./img/reviews/desktop/john/desktop.reviews-john.webp    1x,
              ./img/reviews/desktop/john/desktop.reviews-john@2x.webp 2x,
              ./img/reviews/desktop/john/desktop.reviews-john@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp" />

          <source
            srcset="
              ./img/reviews/desktop/john/desktop.reviews-john.png    1x,
              ./img/reviews/desktop/john/desktop.reviews-john@2x.png 2x,
              ./img/reviews/desktop/john/desktop.reviews-john@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png" />

          <source
            srcset="
              ./img/reviews/tablet/JohnWax/tablet.reviews-john.webp    1x,
              ./img/reviews/tablet/JohnWax/tablet.reviews-john@2x.webp 2x,
              ./img/reviews/tablet/JohnWax/tablet.reviews-john@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp" />

          <source
            srcset="
              ./img/reviews/tablet/JohnWax/tablet.reviews-john.png    1x,
              ./img/reviews/tablet/JohnWax/tablet.reviews-john@2x.png 2x,
              ./img/reviews/tablet/JohnWax/tablet.reviews-john@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png" />

          <source
            srcset="
              ./img/reviews/mobile/mobile.reviews-john.webp    1x,
              ./img/reviews/mobile/mobile.reviews-john@2x.webp 2x,
              ./img/reviews/mobile/mobile.reviews-john@3x.webp 3x
            "
            media="(max-width: 767px)"
            type="image/webp" />

          <source
            srcset="
              ./img/reviews/mobile/mobile.reviews-john.png    1x,
              ./img/reviews/mobile/mobile.reviews-john@2x.png 2x,
              ./img/reviews/mobile/mobile.reviews-john@3x.png 3x
            "
            media="(max-width: 767px)"
            type="image/png" />

          <img
            class="reviews_img"
            src="./img/reviews/mobile/mobile.reviews-john.png"
            alt=""
        /></picture>

        <h3 class="reviews_name">John Wax</h3>
        <p class="reviews_text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews_item">
        <picture>
          <source
            srcset="
              ./img/reviews/desktop/victoria/desktop.reviews-victoria.webp    1x,
              ./img/reviews/desktop/victoria/desktop.reviews-victoria@2x.webp 2x,
              ./img/reviews/desktop/victoria/desktop.reviews-victoria@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp" />

          <source
            srcset="
              ./img/reviews/desktop/victoria/desktop.reviews-victoria.png    1x,
              ./img/reviews/desktop/victoria/desktop.reviews-victoria@2x.png 2x,
              ./img/reviews/desktop/victoria/desktop.reviews-victoria@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png" />

          <source
            srcset="
              ./img/reviews/tablet/victoria/tablet.reviews-victoria.webp    1x,
              ./img/reviews/tablet/victoria/tablet.reviews-victoria@2x.webp 2x,
              ./img/reviews/tablet/victoria/tablet.reviews-victoria@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp" />

          <source
            srcset="
              ./img/reviews/tablet/victoria/tablet.reviews-victoria.png    1x,
              ./img/reviews/tablet/victoria/tablet.reviews-victoria@2x.png 2x,
              ./img/reviews/tablet/victoria/tablet.reviews-victoria@3x.png 3x
            "
            media="(min-width: 768px)"
            type="image/png" />

          <img
            class="reviews_img"
            src="./img/reviews/tablet/Victoria Romashenko/tablet.reviews-victoria.png"
            alt=""
        /></picture>

        <h3 class="reviews_name">Victoria Romashenko</h3>
        <p class="reviews_text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews_item">
        <picture>
          <source
            srcset="
              ./img/reviews/desktop/anastasia/desktop.anastasia-reviews.webp    1x,
              ./img/reviews/desktop/anastasia/desktop.anastasia-reviews@2x.webp 2x,
              ./img/reviews/desktop/anastasia/desktop.anastasia-reviews@3x.webp 3x
            "
            media="(min-width: 1200px)"
            type="image/webp" />

          <source
            srcset="
              ./img/reviews/desktop/anastasia/desktop.anastasia-reviews.png    1x,
              ./img/reviews/desktop/anastasia/desktop.anastasia-reviews@2x.png 2x,
              ./img/reviews/desktop/anastasia/desktop.anastasia-reviews@3x.png 3x
            "
            media="(min-width: 1200px)"
            type="image/png" />

          <img
            class="reviews_img"
            src="./img/reviews/desktop/anastasia/desktop.anastasia-reviews.png"
            alt=""
        /></picture>

        <h3 class="reviews_name">Anastasia Trachuk</h3>
        <p class="reviews_text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
