<section class="reviews">
  <div class="container">
    <h2 class="reviews_title">Reviews</h2>
    <ul class="reviews_list">
      <li class="reviews_item">
        <picture>
          <source
            srcset="
              ./img/reviews/mobile/mobile.reviews-john.png    1x,
              ./img/reviews/mobile/mobile.reviews-john@2x.png 2x,
              ./img/reviews/mobile/mobile.reviews-john@3x.png 3x
            "
            media="min" />

          <img
            class="reviews_img"
            src="./img/reviews/mobile/mobile.reviews-john.png"
            alt=""
        /></picture>

        <h3 class="reviews_name">John Wax</h3>
        <p class="reviews_text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews_item">
        <img class="reviews_img" src="./img/ggggg.png" alt="" />
        <h3 class="reviews_name">Victoria Romashenko</h3>
        <p class="reviews_text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews_item">
        <img class="reviews_img" src="./img/ggggg.png" alt="" />
        <h3 class="reviews_name">Anastasia Trachuk</h3>
        <p class="reviews_text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
