<section class="sale">
  <div class="container">
    <h2 class="sale_title">Sale</h2>
    <div class="sale_wrapper">
      <div class="sale_box">
        <ul class="sale_list">
          <li class="sale_item">
            <picture>
              <source
                srcset="
                  ./img/sale/desktop/first.sale-photo/desktop.first-sale.photo.webp    1x,
                  ./img/sale/desktop/first.sale-photo/desktop.first-sale.photo@2x.webp 2x,
                  ./img/sale/desktop/first.sale-photo/desktop.first-sale.photo@3x.webp 3x
                "
                media="(min-width: 1200px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/desktop/first.sale-photo/desktop.first-sale.photo.png    1x,
                  ./img/sale/desktop/first.sale-photo/desktop.first-sale.photo@2x.png 2x,
                  ./img/sale/desktop/first.sale-photo/desktop.first-sale.photo@3x.png 3x
                "
                media="(min-width: 1200px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/tablet/first.sale-photo/tablet.first-sale.photo.webp    1x,
                  ./img/sale/tablet/first.sale-photo/tablet.first-sale.photo@2x.webp 2x,
                  ./img/sale/tablet/first.sale-photo/tablet.first-sale.photo@3x.webp 3x
                "
                media="(min-width: 768px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/tablet/first.sale-photo/tablet.first-sale.photo.png    1x,
                  ./img/sale/tablet/first.sale-photo/tablet.first-sale.photo@2x.png 2x,
                  ./img/sale/tablet/first.sale-photo/tablet.first-sale.photo@3x.png 3x
                "
                media="(min-width: 768px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/mobile/first.sale-photo/mobile.first-sale.photo.png    1x,
                  ./img/sale/mobile/first.sale-photo/mobile.first-sale.photo@2x.png 2x,
                  ./img/sale/mobile/first.sale-photo/mobile.first-sale.photo@3x.png 3x
                "
                media="(max-width: 767px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/mobile/first.sale-photo/mobile.first-sale.photo.webp    1x,
                  ./img/sale/mobile/first.sale-photo/mobile.first-sale.photo@2x.webp 2x,
                  ./img/sale/mobile/first.sale-photo/mobile.first-sale.photo@3x.webp 3x
                "
                media="(max-width: 767px)"
                type="image/webp" />

              <img
                src="./img/sale/mobile/first.sale-photo/mobile.first-sale.photo.png"
                alt=""
            /></picture>
          </li>
          <li class="sale_item">
            <picture>
              <source
                srcset="
                  ./img/sale/desktop/second.sale-photo/desktop.second-sale.photo.png    1x,
                  ./img/sale/desktop/second.sale-photo/desktop.second-sale.photo@2x.png 2x,
                  ./img/sale/desktop/second.sale-photo/desktop.second-sale.photo@3x.png 3x
                "
                media="(min-width: 1200px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/desktop/second.sale-photo/desktop.second-sale.photo.png    1x,
                  ./img/sale/desktop/second.sale-photo/desktop.second-sale.photo@2x.png 2x,
                  ./img/sale/desktop/second.sale-photo/desktop.second-sale.photo@3x.png 3x
                "
                media="(min-width: 1200px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/tablet/second.sale-photo/tablet.second-sale.photo.webp    1x,
                  ./img/sale/tablet/second.sale-photo/tablet.second-sale.photo@2x.webp 2x,
                  ./img/sale/tablet/second.sale-photo/tablet.second-sale.photo@3x.webp 3x
                "
                media="(min-width: 768px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/tablet/second.sale-photo/tablet.second-sale.photo.png    1x,
                  ./img/sale/tablet/second.sale-photo/tablet.second-sale.photo@2x.png 2x,
                  ./img/sale/tablet/second.sale-photo/tablet.second-sale.photo@3x.png 3x
                "
                media="(min-width: 768px)"
                type="image/png" />

              <source
                srcset="
                  /img/sale/mobile/second.sale-photo/mobile.second-sale.photo.webp     1x,
                  ./img/sale/mobile/second.sale-photo/mobile.second-sale.photo@2x.webp 2x,
                  ./img/sale/mobile/second.sale-photo/mobile.second-sale.photo@3x.webp 3x
                "
                media="(max-width: 767px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/mobile/second.sale-photo/mobile.second-sale.photo.png    1x,
                  ./img/sale/mobile/second.sale-photo/mobile.second-sale.photo@2x.png 2x,
                  ./img/sale/mobile/second.sale-photo/mobile.second-sale.photo@3x.png 3x
                "
                media="(max-width: 767px)"
                type="image/png" />

              <img
                src="./img/sale/mobile/second.sale-photo/mobile.second-sale.photo.png"
                alt=""
            /></picture>
          </li>
          <li class="sale_item">
            <picture>
              <source
                srcset="
                  ./img/sale/desktop/third.sale-photo/desktop.third-sale.photo.webp    1x,
                  ./img/sale/desktop/third.sale-photo/desktop.third-sale.photo@2x.webp 2x,
                  ./img/sale/desktop/third.sale-photo/desktop.third-sale.photo@3x.webp 3x
                "
                media="(min-width: 1200px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/desktop/third.sale-photo/desktop.third-sale.photo.png    1x,
                  ./img/sale/desktop/third.sale-photo/desktop.third-sale.photo@2x.png 2x,
                  ./img/sale/desktop/third.sale-photo/desktop.third-sale.photo@3x.png 3x
                "
                media="(min-width: 1200px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/tablet/third.sale-photo/tablet.third-sale.photo.webp    1x,
                  ./img/sale/tablet/third.sale-photo/tablet.third-sale.photo@2x.webp 2x,
                  ./img/sale/tablet/third.sale-photo/tablet.third-sale.photo@3x.webp 3x
                "
                media="(min-width: 768px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/tablet/third.sale-photo/tablet.third-sale.photo.png    1x,
                  ./img/sale/tablet/third.sale-photo/tablet.third-sale.photo@2x.png 2x,
                  ./img/sale/tablet/third.sale-photo/tablet.third-sale.photo@3x.png 3x
                "
                media="(min-width: 768px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/mobile/third.sale-photo/mobile.third-sale.photo.webp    1x,
                  ./img/sale/mobile/third.sale-photo/mobile.third-sale.photo@2x.webp 2x,
                  ./img/sale/mobile/third.sale-photo/mobile.third-sale.photo@3x.webp 3x
                "
                media="(max-width: 767px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/mobile/third.sale-photo/mobile.third-sale.photo.png    1x,
                  ./img/sale/mobile/third.sale-photo/mobile.third-sale.photo@2x.png 2x,
                  ./img/sale/mobile/third.sale-photo/mobile.third-sale.photo@3x.png 3x
                "
                media="(max-width: 767px)"
                type="image/png" />

              <img
                src="./img/sale/mobile/third.sale-photo/mobile.third-sale.photo.png"
                alt=""
            /></picture>
          </li>
          <li class="sale_item">
            <picture>
              <source
                srcset="
                  ./img/sale/tablet/fourth.sale-photo/tablet.fourth-sale.photo.webp    1x,
                  ./img/sale/tablet/fourth.sale-photo/tablet.fourth-sale.photo@2x.webp 2x,
                  ./img/sale/tablet/fourth.sale-photo/tablet.fourth-sale.photo@3x.webp 3x
                "
                media="(min-width: 768px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/tablet/fourth.sale-photo/tablet.fourth-sale.photo.png    1x,
                  ./img/sale/tablet/fourth.sale-photo/tablet.fourth-sale.photo@2x.png 2x,
                  ./img/sale/tablet/fourth.sale-photo/tablet.fourth-sale.photo@3x.png 3x
                "
                media="(min-width: 768px)"
                type="image/png" />

              <source
                srcset="
                  ./img/sale/mobile/fourth.sale-photo/mobile.fourth-sale.photo.webp    1x,
                  ./img/sale/mobile/fourth.sale-photo/mobile.fourth-sale.photo@2x.webp 2x,
                  ./img/sale/mobile/fourth.sale-photo/mobile.fourth-sale.photo@3x.webp 3x
                "
                media="(max-width: 767px)"
                type="image/webp" />

              <source
                srcset="
                  ./img/sale/mobile/fourth.sale-photo/mobile.fourth-sale.photo.png    1x,
                  ./img/sale/mobile/fourth.sale-photo/mobile.fourth-sale.photo@2x.png 2x,
                  ./img/sale/mobile/fourth.sale-photo/mobile.fourth-sale.photo@3x.png 3x
                "
                media="(max-width: 767px)"
                type="image/png" />

              <img
                src="./img/sale/mobile/fourth.sale-photo/mobile.fourth-sale.photo.png"
                alt=""
            /></picture>
          </li>
        </ul>
        <div class="sale_img-box">
          <picture>
            <source
              srcset="
                ./img/sale/desktop/main.sale-photo/desktop.main-sale.photo.webp    1x,
                ./img/sale/desktop/main.sale-photo/desktop.main-sale.photo@2x.webp 2x,
                ./img/sale/desktop/main.sale-photo/desktop.main-sale.photo@3x.webp 3x
              "
              media="(min-width: 1200px)"
              type="image/webp" />

            <source
              srcset="
                ./img/sale/desktop/main.sale-photo/desktop.main-sale.photo.png    1x,
                ./img/sale/desktop/main.sale-photo/desktop.main-sale.photo@2x.png 2x,
                ./img/sale/desktop/main.sale-photo/desktop.main-sale.photo@3x.png 3x
              "
              media="(min-width: 1200px)"
              type="image/png" />

            <source
              srcset="
                ./img/sale/tablet/main.sale-photo/tablet.main-sale.photo.webp    1x,
                ./img/sale/tablet/main.sale-photo/tablet.main-sale.photo@2x.webp 2x,
                ./img/sale/tablet/main.sale-photo/tablet.main-sale.photo@3x.webp 3x
              "
              media="(min-width: 768px)"
              type="image/webp" />

            <source
              srcset="
                ./img/sale/tablet/main.sale-photo/tablet.main-sale.photo.png    1x,
                ./img/sale/tablet/main.sale-photo/tablet.main-sale.photo@2x.png 2x,
                ./img/sale/tablet/main.sale-photo/tablet.main-sale.photo@3x.png 3x
              "
              media="(min-width: 768px)"
              type="image/png" />

            <source
              srcset="
                ./img/sale/mobile/main.sale-photo/mobile.main-sale.photo.webp    1x,
                ./img/sale/mobile/main.sale-photo/mobile.main-sale.photo@2x.webp 2x,
                ./img/sale/mobile/main.sale-photo/mobile.main-sale.photo@3x.webp 3x
              "
              media="(min-width: 767px)"
              type="image/webp" />

            <source
              srcset="
                ./img/sale/mobile/main.sale-photo/mobile.main-sale.photo.png    1x,
                ./img/sale/mobile/main.sale-photo/mobile.main-sale.photo@2x.png 2x,
                ./img/sale/mobile/main.sale-photo/mobile.main-sale.photo@3x.png 3x
              "
              media="(min-width: 767px)"
              type="image/png" />

            <img
              class="main_img"
              src="./img/sale/mobile/main.sale-photo/mobile.main-sale.photo.png"
              alt=""
          /></picture>
        </div>
      </div>
      <div class="wrapper">
        <h2 class="wrapper_title">MARQ® Commander (Gen 2) - Carbon Edition</h2>
        <span class="wrapper_tag">Product tag: 706587</span>
        <span class="wrapper_discount-price">€1500</span>
        <span class="wrapper_price">€3000</span>
        <p class="wrapper_text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="wrapper_list">
          <li class="wrapper_item"><span>Fused carbon fiber </span></li>
          <li class="wrapper_item"><span>Grade-5 Titanuim</span></li>
          <li class="wrapper_item"><span>Athlete</span></li>
          <li class="wrapper_item"><span>Golfer</span></li>
          <li class="wrapper_item"><span>Commander</span></li>
          <li class="wrapper_item"><span>Adventurer</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>
