<section class="sale">
  <div class="container">
    <h2 class="sale_title">Sale</h2>
    <div class="sale_box">
      <ul class="sale_list">
        <li class="sale_item">
          <img
            src="./img/telegram-cloud-document-2-5398046800353443485 1.jpg"
            alt=""
          />
        </li>
        <li class="sale_item">
          <img
            src="./img/telegram-cloud-document-2-5398046800353443485 1.jpg"
            alt=""
          />
        </li>
        <li class="sale_item">
          <img
            src="./img/telegram-cloud-document-2-5398046800353443485 1.jpg"
            alt=""
          />
        </li>
        <li class="sale_item">
          <img
            src="./img/telegram-cloud-document-2-5398046800353443485 1.jpg"
            alt=""
          />
        </li>
      </ul>
      <img
        class="main_img"
        src="./img/telegram-cloud-document-2-5398046800353443438 1.jpg"
        alt=""
      />
    </div>
    <div class="wrapper">
      <h2 class="wrapper_title">MARQ® Commander (Gen 2) - Carbon Edition</h2>
      <span class="wrapper_tag">Product tag: 706587</span>
      <span class="wrapper_discount-price">€1500</span>
      <span class="wrapper_price">€3000</span>
      <p class="wrapper_text">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="wrapper_list">
        <li class="wrapper_item"><span>Fused carbon fiber </span></li>
        <li class="wrapper_item"><span>Grade-5 Titanuim</span></li>
        <li class="wrapper_item"><span>Athlete</span></li>
        <li class="wrapper_item"><span>Golfer</span></li>
        <li class="wrapper_item"><span>Commander</span></li>
        <li class="wrapper_item"><span>Adventurer</span></li>
      </ul>
    </div>
  </div>
</section>
