.contact {
  margin-bottom: 30px;
}

.contact .container {
  padding: 60px 28px;
  background-image: linear-gradient(
      to bottom,
      rgba(12, 12, 12, 0.8),
      rgba(12, 12, 12, 0.8)
    ),
    url(/img/background_img/mobile/mobile.background-img.png);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contact .container {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(/img/background_img/mobile/mobile.background-img.png);
  }
}

.contact_text {
  font-size: 32px;
  line-height: 1;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.contact_accent {
  color: #fbfbfb80;
}

.contact_btn {
  font-size: 14px;
  line-height: 1.28;
  border-radius: 16px;
  border: 1px solid #fbfbfb26;
  padding: 15px 44px;
  color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .contact .container {
    padding: 80px 64px;
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(/img/background_img/tablet/tablet.background-img.png);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contact .container {
      background-image: linear-gradient(
          to bottom,
          rgba(12, 12, 12, 0.8),
          rgba(12, 12, 12, 0.8)
        ),
        url(/img/background_img/tablet/tablet.background-img-transformed.png);
    }
  }

  .contact_text {
    font-size: 48px;
    line-height: 1.09;
  }

  .contact_btn {
    font-size: 14px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .contact .container {
    display: flex;
    padding: 80px;
    justify-content: space-between;
  }

  .contact_text {
    width: 690px;
  }

  .contact_btn {
    align-self: flex-start;
    padding: 15px 44px;
  }
}
