.header {
  padding: 20px 0;
  position: relative;
}

.mobile_menu {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);

  background-image: url(/img/mobile-menu/mobile/mobile.mobile-menu.png);

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mobile_menu {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.8),
        rgba(12, 12, 12, 0.8)
      ),
      url(/src/img/mobile-menu/mobile/mobile.mobile-menu@2x.png);
  }
}

.mobile_menu.is-open {
  transform: translateX(0);
}

.close_btn {
  background-color: red;
  width: 35px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
}

.mobile_menu-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 13px;
}

.mobile_menu-item {
  font-size: 14px;
  line-height: 1.28;
  color: rgba(251, 251, 251, 1);
}

.mobile_menu-item {
  color: #fbfbfb;
}

.nav {
  display: none;
}

.nav_list {
  display: flex;
  gap: 40px;
}

.active {
  position: relative;
}

.active::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: blue;
  top: 25px;

  left: 50%;
  transform: translateX(-50%);
}

.social_list {
  display: none;
  gap: 40px;
}

.social_link {
  display: block;
  border: 1px solid red;
  border-radius: 8px;
  padding: 8px;
}

.social_link:hover,
.social_link:focus {
  border-color: rgba(51, 80, 233, 1);
}

.social_link svg {
  fill: red;
}

.social_link:hover svg,
.social_link:focus svg {
  fill: blue;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_btn {
  padding: 26px 10px;
}

/* .open_mobile-menu {
  width: 26px;
  height: 10px;
} */

@media only screen and (min-width: 768px) {
  .header {
    padding: 26px 0;
  }

  .mobile_menu {
    width: 330px;
    background-image: url(/img/mobile-menu/tablet/tablet.mobile-menu.png);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mobile_menu {
      background-image: linear-gradient(
          to bottom,
          rgba(12, 12, 12, 0.8),
          rgba(12, 12, 12, 0.8)
        ),
        url(/img/mobile-menu/tablet/tablet.mobile-menu@2x.png);
    }
  }
}

@media only screen and (min-width: 1200px) {
  .menu_btn {
    display: none;
  }
  .nav {
    display: block;
  }
  .social_list {
    display: flex;
  }

  .mobile_menu {
    display: none;
  }

  .open_mobile-menu {
    display: none;
  }
}

/* .parent {
  width: 500px;
  height: 500px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: red;
}

.with_absolute {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: yellow;
 
  transform: translate(-50%, -50%);
} */
