.hero {
  padding-top: 60px;
  padding-bottom: 30px;
}

.hero_title {
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 40px;
  line-height: 0.95;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.hero_title-accent {
  color: #3350e9;
}

.hero_description {
  font-size: 14px;
  line-height: 18px;
  color: #0c0c0cb2;
  margin-bottom: 28px;
}

.hero_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.hero_btn {
  position: relative;
  align-self: flex-end;
}

.hero_btn::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 1px;
  width: 100%;
  background-color: red;
}

@media only screen and (min-width: 768px) {
  .triple_img {
    width: 136px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero_container {
    display: flex;
    justify-content: space-between;
  }

  .hero_wrapper {
    flex-direction: column;
  }

  .hero_box {
    width: 597px;
  }

  .hero_title {
    font-size: 72px;
    line-height: 0.87;
    letter-spacing: -2%;
  }

  .hero_description {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -2%;
  }

  .hero_btn {
    font-size: 20px;
    line-height: 1;
  }
}
